<?php
$servername = "{{ mysql_server }}";
$username = "{{ mysql_user }}";
$password = "{{ mysql_pass }}";
$dbname = "{{ mysql_db }}";

// Create connection
$conn = new mysqli($servername, $username, $password, $dbname);

// Check connection
if ($conn->connect_error) {
  die("Connection failed: " . $conn->connect_error);
}

// Fetch the most recent log entry
$sql = "SELECT `text` FROM log ORDER BY `date` DESC LIMIT 1";
$result = $conn->query($sql);

if ($result->num_rows > 0) {
    // Output data of the most recent log entry
    $row = $result->fetch_assoc();
    echo $row["text"];
} else {
    echo "No log entries available";
}

$conn->close();
?>